header {
    height: 100px;
    line-height: 100px;
    border: 1px dashed red;
    background-color: lightcoral;
    text-align: center;
}

main {
    height: 800px;
    line-height: 800px;
    border: 1px dashed green;
    background-color: lightblue;
    text-align: center;
}

footer {
    height: 300px;
    line-height: 300px;
    border: 1px dashed blue;
    background-color: blue;
    text-align: center;
}